@charset "UTF-8";

/*

*/

/*
Paleta de Cores: 
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor-verde: #49a09d;
    --cor-lilas: #5f2c82;
    --cor-verde-fundo: #94cfcd;
    --cor-verde-escuro: #2c5f5d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--cor-lilas);
}

main {
    position: relative;
}

section {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 515px;
    left: 50%;
    transform: translate(-50%, 40%);
}

div#img {
    display: block;
    background-image: url(../imagens/pexels-mateusz-walendzik-17132998.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 0.8em;
    text-align: justify;
}

p.preencher {
    display: block;
    background-color: var(--cor-lilas);
    border-radius: 8px;
    border: 2px solid var(--cor-lilas);
    width: 100%;
    height: 40px;
    margin: 5px 0px;
}

p.preencher > span {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

p.preencher > input {
    font-size: 1em;
    background-color: var(--cor-verde-fundo);
    border-radius: 8px;
    border: 0px;
    width: calc(100% - 45px);
    height: 100%;
    padding: 4px;
    transform: translateY(-7px);
}

p.preencher > label {
    display: none;
}

p.botao > input {
    display: block;
    color: white;
    font-size: 1em;
    background-color: var(--cor-verde);
    border-radius: 8px;
    border: 0px;
    width: 100%;
    height: 40px;
    padding: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}

p.botao > a {
    display: block;
    color: var(--cor-verde-escuro);
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--cor-verde);
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

p.botao span {
    font-size: 0.8em;
}
